*{
  margin: 0;
  padding:0%
box-sizing:border-box
}


header{
  background-color:black;
width: 100%;
height: 50px;
}

nav{

  display:flex;
  justify-content: space-evenly;
  gap: 10px;
}


nav li{
   display: inline-block;
line-height: 3;
}

nav li a{

  text-decoration: none;
  color: floralwhite;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

header img {
  margin-top: 2%;
  width: auto;
  height: auto;
}

